@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', sans-serif;
    color: #fff;
}
html{
    font-size: 0.8rem;
}
body{
    background-color: #24292d;
}
.main-queue{
    margin: 15px auto;
    width: 50%;
    height: 50%;
}
.card{
    background-color: #24292d;
}
.card-title{
    background-color: #24292d;
    color: #4285f4;
}
.card-body{
    background-color: #24292d;
}
.text-muted, #ctrl-slot-lmt{
    color: #ea4335 !important;
}
.control-panel__buttons-holder{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 10px;
}



