
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$color-white: #e6e3d4;
$color-primary: #0097a7;
$color-success: #00796b;
$color-wrong: #bf360c;
$color-primary-light: #00b8d4;
$color-success-light: #00bfa5;
$color-wrong-light: #dd2c00;
$color-dark: #27221c;
$font-s-s: 0.5rem;
$font-s-m: 1.2rem;
$font-s-l: 2rem;
$font-s-xl: 2.5rem;
$font-f-primary: 'Roboto', sans-serif;
@mixin list-reset {
    list-style: none;
    display: block;
}
@mixin btn-hover {
    cursor: pointer;
    transform: scale(1.1) rotate(1deg);
    transition: .2s ease;
}
@mixin btn-active($color){
    outline: none;
    box-shadow: 0 0 5px 3px $color;
}
@mixin reset-btn{
    background: none;
    padding: .7rem 1rem;
    font-size: $font-s-m;
    color: $color-white;
    border: none;
    border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-f-primary;
    color: $color-white;
}
body{
    background: $color-dark;
}
.btn{
    @include reset-btn;
    &:hover{
        @include btn-hover;
    }
    margin: 5px;
    &--primary{
        background: $color-primary;
        &:active,
        &:focus{
            @include btn-active($color-primary-light)
        }
    }
    &--success{
        background: $color-success;
        &:active,
        &:focus{
            @include btn-active($color-success-light)
        }
    }
    &--wrong{
        background: $color-wrong;
        &:active,
        &:focus{
            @include btn-active($color-wrong-light)
        }
    }
    &--static{
        display: inline-block;
    }
}
.welcome__header{
    font-size: $font-s-xl;
    font-weight: normal;
    text-align: center;
    padding-top: 1rem;
    height: 10vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 80vh;
    &__intro{
        grid-column: span 4;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
    &__queue{
        grid-column: span 6;
        height: 100%;
        overflow-y: scroll;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.intro__btn-holder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;;
}
.footer{
    height: 10vh;
    padding-top: 2rem;
    &__author{
        text-align: center;
        color: $color-success-light;
        font-size: $font-s-m;
    }
}
body{
    background: $color-dark;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.table{
    width: 100%;
    border-spacing: 0;
    padding: 1rem;
    &__top{
        background: #bf360c;
    }
    &__body{
        background: #322d28;
    }
    &__heading{
        text-align: center;
        padding: 1rem;
    }
    &__item{
        text-align: center;
        padding: .5rem;
    }
}
.verification{
    height: 90vh;
    &__header{
        height: 20%;
    }
    &__heading{
        height: 100%;
        text-align: center;
        padding-top: 1.5rem;
    }
}
.login{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &__heading{
        text-align: center;
    }
}
.credentials-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    &__input{
        line-height: $font-s-m;
        font-size: $font-s-m;
        padding: $font-s-s;
        transition: .3s ease;
        background: none;
        border: none;
        box-shadow: 0 0 4px 2px $color-wrong-light;
        margin: 1rem;
        &:active,
        &:focus{
            outline: none;
            box-shadow: 0 0 4px 2px $color-success-light;
        }
    }
}
.comm-info-details{
    text-align: center;
    font-size: $font-s-xl;
    color: $color-primary;
    padding: 5rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.requirements{
    list-style-position: inside;
}
.adm-reservations{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &__heading{
        margin-top: 1.5rem;
        font-size: $font-s-xl;
        text-align: center;
        width: 100%;
    }
    &__ctrl-group{
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    &__slotsinpt{
        line-height: $font-s-m;
        font-size: $font-s-m;
        padding: $font-s-s;
        transition: .3s ease;
        background: none;
        border: none;
        box-shadow: 0 0 4px 2px $color-wrong-light;
        margin: 1rem;
        &:active,
        &:focus{
            outline: none;
            box-shadow: 0 0 4px 2px $color-success-light;
        }
    }
}